<h1>Welcome</h1>
<% if user_signed_in? %>
  <div>Welcome, <%= current_user.username %>!</div>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <div>
    <%= link_to "Sign in", new_user_session_path %> |
    <%= link_to "Sign up", new_user_registration_path %>
  </div>
<% end %>
